 <!-- ********* header ******************-->
<nav class="navbar navbar-static-top" role="navigation" style="float:left; float: right;">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="/xadmin/goods/product/" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> 
                    <span class="hidden-xs">{{request.user}}</span>
                    </a> 
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="hidden-xs">登出</span>
                             </a></li>
                        </ul>
                    </div>
                </nav>