{% load static %}
{% block a  %}

<tr>
    <th ><input type="checkbox" ng-model="allCheck" ng-click="all()"/></th>
    <th style="text-align:center;">商品图片</th>
    <th style="text-align:center;">商品名称</th>
    <th style="text-align:center;">商品ID</th>
    <th style="text-align:center;">商品价格</th>
    <th style="text-align:center;"> 商品库存</th>
    <th style="text-align:center;">SKU</th>
    <th style="text-align:center;">上架时间</th>
</tr>
{%  endblock %}
{% block b  %}
<tr>
    <th ><input type="checkbox" ng-model="allCheck" ng-click="all()"/></th>
    <th style="text-align:center;">商品图片</th>
    <th style="text-align:center;">商品名称</th>
    <th style="text-align:center;">商品ID</th>
    <th style="text-align:center;">商品价格</th>
    <th style="text-align:center;"> 商品库存</th>
    <th style="text-align:center;">SKU</th>
    <th style="text-align:center;">上架时间</th>
</tr>
{%  endblock %}

